/*
    Main page setting.. 
*/

$page-size-width: 100%;
$page-background-color :#E2EBEE !important;
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$mob-edit-color:#199ED8 ;

$fxs: 11px;
$fsm: 12px;
$fmd: 14px;
$flg: 18px;
$fslg: 16px;
$fxlg: 20px;
$fxsm: 10px;
$fmsd: 13px;

$bg-sidebar: black;
$text-main-head-color: #333333;
$text-sub-head-color: #666666;
$text-mob-head-color:#797979;